stages:
  - build
  - test
  - deploy

variables:
  SKIP_TEST : "false"

build:windows_2019:
  stage: build
  tags:
    - ifm3d_windows
  script:
    - mkdir build
    - cd build
    - 'cmake.exe -G "Visual Studio 16 2019" -Ax64 -DCMAKE_WINDOWS_EXPORT_ALL_SYMBOLS=ON  -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=D:/ifm3d_deps/install_VS2019 -DBUILD_TESTS=ON -DCMAKE_PREFIX_PATH="D:/ifm3d_deps/install_VS2019;D:/ifm3d_deps/install_VS2019/PCL 1.12.0" -DGTEST_CMAKE_DIR=D:/ifm3d_deps/googletest/googletest -Dgtest_force_shared_crt=TRUE ..'
    - 'cmake.exe --build . --config Release --target ALL_BUILD'

build:windows_2019:python_wheel:
  stage: build
  variables:
    IFM3D_CMAKE_GENERATOR : "Visual Studio 16 2019"
    IFM3D_BUILD_DIR : D:/ifm3d_deps
    IFM3D_INSTALL_DIR : D:/ifm3d_deps/install
    CONFIG : Release
  tags:
    - ifm3d_windows
  script:
    - python setup.py bdist_wheel
  artifacts:
    paths:
      - dist/*.whl
    expire_in: 1 week



# Run unit test
test:windows_2019:
  stage: test
  tags:
    - ifm3d_windows
  variables:
   GIT_CLEAN_FLAGS: none
  script:
    - cd build
    - cmake.exe --build . --config Release --target check
  dependencies:
    - build:windows_2019
  except:
    variables:
    - $SKIP_TEST == "false"

deploy:windows_2019:
  stage : deploy
  tags:
    - ifm3d_windows
  script:
    - echo "please add deployment script"
  dependencies:
    - test:windows_2019


# Linux build

build:linux:aarch64:
  image: nexus3.intra.ifm:18443/arm64v8/ifm3d-base:0.0.5
  stage: build
  variables:
    REQUESTS_CA_BUNDLE: "/etc/ssl/certs/ca-certificates.crt"
  tags:
    - shared_docker_aarch64
  before_script:
    - echo ${http_proxy}
    - echo ${https_proxy}
    - echo ${no_proxy}
  script:
    - mkdir build
    - cd build
    - |
      cmake -GNinja \
            -DCMAKE_INSTALL_PREFIX=/usr \
            -DBUILD_MODULE_OPENCV=ON \
            -DBUILD_MODULE_PYBIND11=ON \
            -DBUILD_MODULE_PCICCLIENT=ON \
            -DPYTHON_EXECUTABLE=/usr/bin/python3 \
            ..
    - ninja
    - ninja package
    - ninja repackage
    - IFM3D_VERSION=$(modules/tools/src/bin/ifm3d --version | cut -d "=" -f 2)
    - export IFM3D_VERSION
    - mkdir -p /opt/apt-repo
    - cp *.deb /opt/apt-repo
    - (cd /opt/apt-repo && (dpkg-scanpackages . /dev/null | gzip -9c > Packages.gz))
    - source /etc/os-release && export UBUNTU_CODENAME
    - tar cvf ifm3d-ubuntu-${UBUNTU_CODENAME}-aarch64-debs_${IFM3D_VERSION}-${CI_PIPELINE_IID}.tar -C /opt/apt-repo .
  artifacts:
    paths:
      - build/*.tar
    expire_in: 1 week



# Linux python wheels
build:linux:aarch64:python_wheel:
  image: nexus3.intra.ifm:18443/arm64v8/ifm3d-base:0.0.5
  stage: build
  variables:
    REQUESTS_CA_BUNDLE: "/etc/ssl/certs/ca-certificates.crt"
  tags:
    - shared_docker_aarch64
  before_script:
    - echo ${http_proxy}
    - echo ${https_proxy}
    - echo ${no_proxy}
  script:
    - python3 setup.py bdist_wheel
  artifacts:
    paths:
      - dist/*.whl
    expire_in: 1 week
