.configs:
  support-matrix:
    - RUNNER: shared_docker_aarch64
      PLATFORM: linux/aarch64
      BASE_IMAGE:
        - ubuntu:24.04
        - ubuntu:22.04
      TAG_POSTFIX: -ubuntu-arm64
    - RUNNER: shared_docker
      PLATFORM: linux/amd64
      BASE_IMAGE:
        - ubuntu:24.04
        - ubuntu:22.04
      TAG_POSTFIX: -ubuntu-amd64


  python-linux-matrix:
    - RUNNER: shared_docker
      IMAGE: quay.io/pypa/manylinux2014_x86_64:latest
      PYTHON_VERSION: ["cp39-cp39", "cp310-cp310", "cp311-cp311", "cp312-cp312", "cp313-cp313", "cp314-cp314"]
    - RUNNER: shared_docker_aarch64
      IMAGE: quay.io/pypa/manylinux2014_aarch64:latest
      PYTHON_VERSION: ["cp39-cp39", "cp310-cp310", "cp311-cp311", "cp312-cp312", "cp313-cp313", "cp314-cp314"]
      
  python-windows-matrix:
    - PYTHON_VERSION:
        - "3.9.13"
        - "3.10.11"
        - "3.11.7"
        - "3.12.1"
        - "3.13.0"
